target/classes/assignment1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP1" host="localhost" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration1" host="localhost" port="3306" user="root" password="root" database="TEST" doc:name="MySQL Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8082" doc:name="HTTP Listener Configuration"/>
    <flow name="InsertDataAssignment1Flow">
        <http:listener config-ref="HTTP1" path="/test"  doc:name="HTTP" allowedMethods="POST"/>
        <db:insert config-ref="MySQL_Configuration1" doc:name="Database">
            <db:parameterized-query><![CDATA[INSERT INTO EMPLOYEE
VALUES(#[message.inboundProperties.'http.query.params'.EMPLOYEE_ID],
        #[message.inboundProperties.'http.query.params'.FIRST_NAME],
        #[message.inboundProperties.'http.query.params'.LAST_NAME])]]></db:parameterized-query>
        </db:insert>
        <logger message="Insert Data Into Database:#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="assignment1Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/delete" allowedMethods="post" doc:name="HTTP"/>
        <db:delete config-ref="MySQL_Configuration1" doc:name="Database">
            <db:parameterized-query><![CDATA[DELETE 
FROM EMPLOYEE
WHERE EMPLOYEE_ID = (#[message.inboundProperties.'http.query.params'.employee_id)]]></db:parameterized-query>
        </db:delete>
        <logger message="deleted data:#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
